.Header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid white;

}
.header__logo{
    height: 7%;
    object-fit: contain;
    background-color: violet;
    width: 7%;
}

.header__icon{
   
    height: 50px;
    padding: 20px;
}